[Unit]
Description=Initialize Nix store
After=nix.mount
Requires=nix.mount
Before=nix-daemon.service

ConditionPathIsDirectory=/nix

[Service]
Type=oneshot
ExecStart=/usr/bin/nix-store --init
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
